{% extends "mail1.html" %}
{% block content %}
    
	<!-- this is as free image hosting maybe can be useful    
            https://ibb.co/CBQRRh0 //spoj
            https://ibb.co/42Mrrmb //hackerrank
            https://ibb.co/x3qLZPf //hackerearth
            https://ibb.co/HDNsHfP //codeforces
            https://ibb.co/dDLHdM7 //codechef
        -->
    <img class="img"  src="cid:image1" height="110" width="110" alt="Host Photo">
    <h1 style="top: 0px; font-size:30px"> {{contest.Name}} </h1>
    <p style="font-size:17px"><span style="color:green;"> Date 📅: </span> {{contest.StartDate}}</p>
    <p style="font-size:17px"><span style="color:green;"> Time ⏰: </span>{{contest.StartTime}}</p>
    <p style="font-size:17px"><span style="color:green;"> Duration ⌛: </span> {{contest.Duration}}</p>
    <p style="font-size:17px"><span style="color:green;"> Platform 📍: </span> {{contest.Host}}</p>
    <a class="btn1" href="{{contest.contestLink}}" style="text-decoration:none">Contest Link</a>
{% endblock %}